# Mardown format

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6
# crlt enter to execute in the same cell

# python

## python installations, Execution ways, jupyter installation

### Variables
    - to store a value
    - to acess the values in different functions, methods
    - to change values

In [5]:
a = 10
b = 30
a,b

(10, 30)

In [6]:
print(a,b)
print(b,a)

10 30
30 10

## Data types
    - int only number
    -float decimal point
    - string either with ' or "

### Type 
    - to kow the type of the data
    -type(variable, datastructure)

In [9]:
type(a)
print(type(a),type(b))

<class 'int'> <class 'int'>

In [2]:
a = 10
a

10

In [9]:
a = 100
b= "ss"
type(a),type(b)

(int, str)

# input()
    -By default it will be considered as a string value
    - print(), read()

In [10]:
a= input()
print(a)

21
21

## typecasting
        - convert one data type to another data type
        -int(),str(),float()

In [12]:
p = int(input("Enter the integer value:"))
print(p,type(p))
float(p)

Enter the integer value:3
3 <class 'int'>

3.0

In [11]:
n=float(input("Enter only integer values: "))
print(n, type(n))

Enter only integer values: 22
22.0 <class 'float'>

In [13]:
n=int(input("Enter only integer values: "))
print(n, type(n))

Enter only integer values: 55
55 <class 'int'>

In [14]:
x=int(input("Enter integer values: "))
y=float(input("Enter float values: "))
a=float(x)
b=int(y)
print("Conversion of int value is: ",a)
print("Conversion of float value is: ",b)

Enter integer values: 5
Enter float values: 4.5
Conversion of int value is:  5.0
Conversion of float value is:  4

In [15]:
x=int(input("Enter integer values: "))
y=float(input("Enter float values: "))
print("Conversion of int value is: ",float(x))
print("Conversion of float value is: ",int(y))
print("string in both cases is "+"''"+str(x)+"''"+str(y)+"'")

Enter integer values: 8
Enter float values: 3.6
Conversion of int value is:  8.0
Conversion of float value is:  3
string in both cases is ''8''3.6'

# styling text
    - bold -> **  ** or __  __
    - italic -> * * or _  _
    - strikethrough -> ~~  ~~
    - bold and nested italic **  ** and _  _
    - all bold and italic ***  ***

**Python programming**
 
 *Python programming* 
 
 ~~python python~~ 
 
 ***python*** 
 
 _Python _Programming_in jupyter Python Programming_

# Quoting text
 `jupyter notebook`

# Lists
   - GAYATHRI
   - TEJA
   - PUJI
   - NIHARIKA
   - SOUNDARYA

# lists with numbering
1. GAYATHRI
2. TEJA
3. PUJI
4. NIHARIKA
5. SOUNDARYA

# lists with random numbering
3. GAYATHRI
50. TEJA
500. PUJI
25. NIHARIKA
26. SOUNDARYA

# Nested lists
1. Pace Institute of technology of sciences -Branches
     - CSE
     - ECE
     - EEE
     - CIVIL
     - AME
     - IT
 
 -Courses in CSE
     - C
     - C++
     - JAVA
     - PYTHON

# Task lists
   
   -[x] for marking a task as complete
   
   -[x] complete assignments
   - [] do the task
   - [] submitting project report