### welcome

# Outputformat

In [1]:
n=int(input("Enter a value: "))
m=input("Enter name: ")
print("Entered number is: %d"%n)
print("Entered name is: %s"%m)

Enter a value: 21
Enter name: sou
Entered number is: 21
Entered name is: sou

In [2]:
print("Entered number is: %d and entered name is: %s"%(n,m))

Entered number is: 21 and entered name is: sou

In [3]:
print("Entered number is: {} and entered name is: {}".format(n,m))
print("Entered name is: {} and entered number is: {}".format(m,n))

Entered number is: 21 and entered name is: sou
Entered name is: sou and entered number is: 21

# Operators
   - arithmetic----> +,-,*,/,//,**-exponential
   - logical-----> AND,OR,NOT
   - bitwise--->&&,||,>>,<<
   - relational---> ==,>=,>,<=,<,!=
   - assignment----> +=,-=,*=,/=,%=
   - membership---> in,not in
   - identity----> is,is not

In [4]:
a=15
print(a>>2)

3

# Conditional Statements
 - to check whether the given condition is true or false
 - if, if-else, nested if,elif ladder

## if statement
   ``` syntax: if(condition): //statements

In [6]:
x=int(input())
if x == 21:
    print("Entered value is {0}".format(x))
    print(x)

21
Entered value is 21
21

In [1]:
x=int(input())
if x == 21:
    print("Entered value is ",x)

21
Entered value is  21

# if else condition

In [2]:
p=int(input())
q=int(input())
if p==q:
    print("Entered values {} and {} are equal".format(p,q))
else:
    print("Entered values {} and {} are unequal".format(p,q))

5
6
Entered values 5 and 6 are unequal

# nested if(if inside an if)
``` used for one or more cases Syntax is: if(condition-1): if(condition-2): //stmts else: //stmts else: //stmts

In [3]:
n=int(input())
if(n<=200):
    if(n==100):
        print("Entered value {} is equal to 100".format(n))
    else:
        print("Entered value {} is not equal to 100 but it is lower than 200".format(n))
else:
    print("Entered value is greater than 200".format(n))

201
Entered value is greater than 200

In [4]:
n=int(input())
if(n<=200):
    if(n==100):
        print("Entered value {} is equal to 100".format(n))
    else:
        print("Entered value {} is not equal to 100 but it is lower than 200".format(n))
else:
    print("Entered value is greater than 200".format(n))

100
Entered value 100 is equal to 100

In [5]:
n=int(input())
if(n<=200):
    if(n==100):
        print("Entered value {} is equal to 100".format(n))
    else:
        print("Entered value {} is not equal to 100 but it is lower than 200".format(n))
else:
    print("Entered value is greater than 200".format(n))

21
Entered value 21 is not equal to 100 but it is lower than 200

# Elif -> Two or more n cases
``` Syntax: if(conditon-1): //stmnts elif(condition-2): //stmnts elif(condition-3): //stmnts ............ ............ ............ elif(condition-n): //stmnts else: //stmnts

In [6]:
num=int(input())
if num%2 == 0 and num%4==0:
    print("Entered value {} is divisible by 2 and 4".format(num))
elif num%2==0:
    print("Entered value {} is divisible by 2".format(num))
else:
    print("Entered value {} is not divisible by 2".format(num))

24
Entered value 24 is divisible by 2 and 4

In [7]:
num=int(input())
if num%2 == 0 and num%4==0:
    print("Entered value {} is divisible by 2 and 4".format(num))
elif num%2==0:
    print("Entered value {} is divisible by 2".format(num))
else:
    print("Entered value {} is not divisible by 2".format(num))

10
Entered value 10 is divisible by 2

In [8]:
num=int(input())
if num%2 == 0 and num%4==0:
    print("Entered value {} is divisible by 2 and 4".format(num))
elif num%2==0:
    print("Entered value {} is divisible by 2".format(num))
else:
    print("Entered value {} is not divisible by 2".format(num))

43
Entered value 43 is not divisible by 2

# Control Statements, Iterations, loops
- to control the flow of execution
- For, While

# FOR -> [for particular ranges ==> [known ranges]]
``` Syntax: for iteration_variable in iterator: //stmnts

    for iteration_variable in range():
        //stmnts

In [9]:
n = int(input("Enter a range value: "))
for num in range(n):
    print(num)

Enter a range value: 8
0
1
2
3
4
5
6
7

In [10]:
p = int(input("Enter Starting range: "))
q = int(input("Enter Ending range: "))
for i in range(p,q):
    print(i, end=" ")

Enter Starting range: 21
Enter Ending range: 57
21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56

In [11]:
p = int(input("Enter Starting range: "))
q = int(input("Enter Ending range: "))
s = int(input("Enter Step value: "))
for i in range(p,q,s):
    print(i, end=" ")

Enter Starting range: 21
Enter Ending range: 57
Enter Step value: 2
21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55

In [12]:
#numbers in reverse order 
p = int(input("Enter Starting range: "))
q = int(input("Enter Ending range: "))
for i in range(q,p,-1):
    print(i, end=" ")

Enter Starting range: 21
Enter Ending range: 57
57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22

In [13]:
#numbers in reverse order 
p = int(input("Enter Starting range: "))
q = int(input("Enter Ending range: "))
for i in range(q,p,-10):
    print(i, end=" ")

Enter Starting range: 10
Enter Ending range: 70
70 60 50 40 30 20

In [14]:
#numbers in reverse order 
p = int(input("Enter Starting range: "))
q = int(input("Enter Ending range: "))
s = int(input("Enter step value to reverse the numbers: "))
for i in range(q,p,-s):
    print(i, end=" ")

Enter Starting range: 1
Enter Ending range: 50
Enter step value to reverse the numbers: 7
50 43 36 29 22 15 8

# Practice

## Basic formatting
 
### example:

In [15]:
print('{0} {1}'.format('soundarya','teja'))

soundarya teja

In [16]:
print('{0} {0}'.format('soundarya','teja'))
print('{1} {1}'.format('soundarya','teja'))

soundarya soundarya
teja teja

In [17]:
# reversing the order format
print('{1} {0}'.format('soundarya','teja'))

teja soundarya

# Aligning Strings

In [21]:
   #right alignment of strings
  #here - represents space
print('{:>10}'.format('python')) #----python
print('{:>10}'.format('code'))   #------code

    python
      code

In [22]:
# left alignment of strings
print('{:10}'.format('python')) #python----
print('{:10}'.format('code'))   #code------

python
code

In [23]:
# center alignment
print('{:^15}'.format('python'))

    python

# Truncating long strings

In [26]:
print('{:.10}'.format('samanthula soundarya'))

samanthula

# formatting numbers

In [28]:
print('{:+d}'.format(21)) # number is displayed with positive sign
print('{: d}'.format(-21)) # number is displayed with negative sign
print('{: d}'.format(21)) # number is displayed

+21
-21
 21

In [29]:
print('{:=+5d}'.format(21))
print('{:=5d}'.format(-21))

+  21
-  21